In [0]:
use catalog dev;

In [0]:
create schema dev.kishore

In [0]:
use catalog dev; use schema kishore

In [0]:
create table kishore.tbl1 (id int, name string);
select * from kishore.tbl1

In [0]:
insert into kishore.tbl1 values (1,'one'),(2,'two');
select * from kishore.tbl1;